html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  background-color: #eee9de;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  padding: 1em, 2em;
}

h1 {
  margin-bottom: 1.5rem;
}

section {
  width: 100%;
}
