html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  background-color: #eee9de;
  display: inline-block;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  padding: 1em, 2em;
  display: inline-block;
}

main {
  color: #333;
}

h1 {
  margin-bottom: 1.5rem;
}

section div {
  vertical-align: middle;
  width: 100%;
}

section {
  text-align: left;
}

a:hover {
  background-color: #666;
}

a {
  padding: 1em;
  border-radius:  solid 2em;
  display: inline-block;
  text-decoration: none;
  color: #333;
}

.btn {
  background-color: #eee9de;
  padding: 1em;
  border-radius: 1em;
}
